.form .form-area::after {
  content: '';
  display: block;
  margin: auto;
  border: 1px solid var(--color-dark-gray);
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom-width: 0;
  width: 70%;
  opacity: 0.2;
}

.form .form-legend {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.form .form-control {
  padding-top: .8rem;
  position: relative;
  transition: .3s;
}

.form .form-control .text-input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: .8rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-light-gray);
  transition: .1s;
}

.form .form-control .text-input::placeholder {
  color: transparent;
}

.form .form-control .text-input.text-input-placeholder::placeholder {
  color: var(--color-dark-gray);
  opacity: 1;
}

.form .form-control .text-input:focus {
  outline: 3px groove var(--color-blue-purple);
}

.form .form-control .floating-label {
  font-size: 1em;
  color: var(--color-dark-gray);
  position: absolute;
  top: 1.6rem;
  left: 1rem;
  pointer-events: none;
  transition: .5s;
}

.form .form-control .text-input:focus + .floating-label,
.form .form-control .text-input:not(:placeholder-shown) + .floating-label{
  top: -0.55rem;
  opacity: 1;
}

.form .input-warning {
  padding-left: 1rem;
  color: var(--color-wrong);
}

.form .text-input.is-wrong {
  color: var(--color-wrong);
  background-color: var(--color-wrong-light);
  border-color: var(--color-wrong);
}

.form .text-input.is-wrong:focus {
  outline-color: var(--color-wrong);
}

.form .text-input.is-wrong + .floating-label, 
.form .text-input.text-input-placeholder.is-wrong::placeholder {
  color: var(--color-wrong);
}