.modal {
    background-color: rgb(253, 253, 253);
    border-radius: .8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.modal .modal-inner {
    padding: 2.3rem 1.8rem;
}

.modal .modal-header {
    padding-bottom: 0.7rem;
}

.modal .modal-header .modal-title, 
.modal .modal-header .modal-text {
    text-align: center;
    margin: 0;
}

.modal .modal-header .modal-title {
    font-size: 1.4em;
}

.modal .modal-footer {
    margin-top: 1.1rem;
}

.modal .modal-footer::before,
.modal .modal-header::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: .5rem;
    width: 45%;
    height: 1px;
    background-color: var(--color-dark-gray);
    opacity: 0.2;
}

