.task::after {
  content: '';
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  width: 45%;
  height: 1px;
  background-color: var(--color-dark-gray);
  opacity: 0.2;
}

.task .task-title {
  font-size: 1.17em;
  margin-bottom: 0.1rem;
}

.task .task-status {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
}

.task .task-status::before {
  content: '-';
  margin-left: 0.2rem;
  margin-right: 0.6rem;
}

.task .task-desc {
  order: 1;
  text-align: justify;
}