:root {
  --color-dark-gray: rgb(56, 56, 56);
  --color-light-gray: rgb(235,235,235);
  --color-blue-purple: rgb(157, 152, 255);
  --color-wrong: rgb(166, 80, 80);
  --color-wrong-light: rgb(255,235,235);

  --gradient-light-gray: linear-gradient(13deg, rgba(209,209,209,1) 0%, rgba(213,213,213,1) 35%, rgba(235,235,235,1) 100%);
  --gradient-blue-purple: linear-gradient(164deg, rgba(157,152,255,1) 0%, rgba(171,171,255,1) 35%, rgba(156,178,255,1) 54%, rgba(119,215,237,1) 100%);
  --gradient-blue-purple-grayed: linear-gradient(164deg, rgba(157,152,255,0.3) 0%, rgba(171,171,255,0.3) 35%, rgba(156,178,255,0.3) 54%, rgba(119,215,237,0.3) 100%);
}