.l-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient-blue-purple-grayed);
    z-index: 1;
}

.l-modal .modal {
    position: relative;
    bottom: 4rem;
    margin: 1rem;
    width: 650px;
}